.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.customChart {
  background-color: #fff;
}

.small {
    font-size: 14px;
    font-weight: bold;
}

.qv-object .qv-object-title .qv-object-title-text {
    overflow: visible !important;
}

.sn-kpi .sn-kpi-ellips-text {
    overflow: visible !important;
}

table, tr, td {
    border: 1px solid;
}

p.customChart {
    border: none;
}

.aqua {
    background-color: aqua;
}

.red {
    color: red;
}

.green {
    color: green;
}

.bold {
    font-weight: bold;
}

@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
